{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
	assign variants_available_arr = product.variants | map: 'available'
	assign variants_option1_arr = product.variants | map: 'option1'
	assign variants_option2_arr = product.variants | map: 'option2'
	assign variants_option3_arr = product.variants | map: 'option3'

	assign product_form_id = 'product-form-' | append: section.id

	assign productIsGiftCard = false
	if product.gift_card?
		assign productIsGiftCard = true
	endif
-%}

{%- for value in option.values -%}

	{%- liquid
		assign option_disabled = true

		for option1_name in variants_option1_arr
			case option.position
				when 1
					if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
						assign option_disabled = false
					endif
				when 2
					if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
						assign option_disabled = false
					endif
					
				when 3
					if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
						assign option_disabled = false
					endif
			endcase
		endfor
	

		for variant in product.variants
			if variant.title == value
				assign variant_size = variant.metafields.sf_settings.size
        assign variant_name = variant.metafields.custom.variant_name
				break
			endif
		endfor
	-%}	

	{%- if picker_type == 'button' -%}
		<label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-option-size="{{ variant_size | escape }}" class="variant_label {% if current_variant.title == value %}selected{% endif %}" >
            <input
			type="radio"
			id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
			name="{{ option.name }}"
			value="{{ value | escape }}"
			form="{{ product_form_id }}"
			{% if current_variant.title == value %}
				checked
			{% endif %}
			{% if option_disabled %}
				class="disabled"
			{% endif %}
		    >
			{% if variant_name != blank %}
				{{ variant_name }}
			{% else %}
				{{ value -}}
			{% endif %}
			{% if variant_size != 0 and productIsGiftCard != true %}<small>{{ variant_size }}</small>{% endif %}
      {%- if option_disabled -%}
        <span class="visually-hidden">{{ 'products.product.sold_out' | t }}</span>
      {%- endif -%}
		</label>
	{%- elsif picker_type == 'dropdown' -%}
		<option
			value="{{ value | escape }}"
			{% if option.selected_value == value %}
				selected="selected"
			{% endif %}
		>
			{% if option_disabled -%}
				{{- 'products.product.value_unavailable' | t: option_value: value -}}
			{%- else -%}
				{{- value -}}
				{% if variant_size != 0 and productIsGiftCard != true %}<small> - {{ variant_size }}</small>{% endif %}
			{%- endif %}
		</option>
	{%- endif -%}
{%- endfor -%}

