{%- assign image = block.settings.image | image_url: width: 1100 -%}
{%- assign image_alignment = block.settings.image_alignment -%}
{%- assign content_alignment = block.settings.content_alignment -%}
{%- assign heading = block.settings.heading -%}
{%- assign paragraph = block.settings.paragraph -%}
{%- assign cta_link = block.settings.cta_link -%}
{%- assign cta_text = block.settings.cta_text -%}

{% if heading %}
    <section class="wayfx-block wayfx-block--feature{% if content_alignment == 'top' %} wayfx-block--content-top{% endif %}{% if image_alignment == 'left' %} wayfx-block--image-left{% else %} wayfx-block--image-right{% endif %}">
        <div class="wayfx-wrapper">
            <div class="grid">
                {% if image_alignment == 'left' %}
                    {% if block.settings.image %}
                    <div class="grid__item large--one-half">
                        <div class="wayfx-block__image">
                            <img loading="lazy" data-blink-src="{{ image }}" alt="" />
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                <div class="grid__item large--one-half">
                    <div class="wayfx-block__text">
                        {% if heading and heading != blank %}<h2 class="h2--primary">{{ heading }}</h2>{% endif %}
                        {% if paragraph %}{{ paragraph }}{% endif %}
                        {% if cta_link and cta_text %}
                            <a href="{{ cta_link }}" class="btn--outline btn--xlarge">{{ cta_text }}</a>
                        {% endif %}
                    </div>
                </div>
                {% if image_alignment == 'right' %}
                    {% if block.settings.image %}
                        <div class="grid__item large--one-half">
                          <div class="wayfx-block__image">
                            <img loading="lazy" data-blink-src="{{ image }}" alt="" />
                          </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}