{%- assign sidebar_heading = section.settings.sidebar_heading -%}
<aside>
    {% if sidebar_heading %}
        <h3>{{ section.settings.sidebar_heading }}</h3>
    {% endif %}
    <ul class="wayfx-sidebar__parent">
        {% for link in linklists[sidebar].links %}
            <li>
                {% if link.url == '#' %}
                    <h4>{{ link.title }}</h4>
                {% else %}
                    <h4>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </h4>
                {% endif %}
                {% if link.links != blank %}
                    <ul class="wayfx-sidebar__children">
                        {% for child_link in link.links %}
                            {% if child_link.active %}
                                <li class="wayfx-sidebar__active">
                                    {{ child_link.title }}
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>