{%- assign job_title_1 = block.settings.job_title_1 -%}
{%- assign job_category_1 = block.settings.job_category_1 -%}
{%- assign job_link_1 = block.settings.job_link_1 -%}
{%- assign job_location_1 = block.settings.job_location_1 -%}

{%- assign job_title_2 = block.settings.job_title_2 -%}
{%- assign job_category_2 = block.settings.job_category_2 -%}
{%- assign job_link_2 = block.settings.job_link_2 -%}
{%- assign job_location_2 = block.settings.job_location_2 -%}

{%- assign job_title_3 = block.settings.job_title_3 -%}
{%- assign job_category_3 = block.settings.job_category_3 -%}
{%- assign job_link_3 = block.settings.job_link_3 -%}
{%- assign job_location_3 = block.settings.job_location_3 -%}

{%- assign job_title_4 = block.settings.job_title_4 -%}
{%- assign job_category_4 = block.settings.job_category_4 -%}
{%- assign job_link_4 = block.settings.job_link_4 -%}
{%- assign job_location_4 = block.settings.job_location_4 -%}

{%- assign job_title_5 = block.settings.job_title_5 -%}
{%- assign job_category_5 = block.settings.job_category_5 -%}
{%- assign job_link_5 = block.settings.job_link_5 -%}
{%- assign job_location_5 = block.settings.job_location_5 -%}

{%- assign job_title_6 = block.settings.job_title_6 -%}
{%- assign job_category_6 = block.settings.job_category_6 -%}
{%- assign job_link_6 = block.settings.job_link_6 -%}
{%- assign job_location_6 = block.settings.job_location_6 -%}

{%- assign job_title_7 = block.settings.job_title_7 -%}
{%- assign job_category_7 = block.settings.job_category_7 -%}
{%- assign job_link_7 = block.settings.job_link_7 -%}
{%- assign job_location_7 = block.settings.job_location_7 -%}

{%- assign job_title_8 = block.settings.job_title_8 -%}
{%- assign job_category_8 = block.settings.job_category_8 -%}
{%- assign job_link_8 = block.settings.job_link_8 -%}
{%- assign job_location_8 = block.settings.job_location_8 -%}

{%- assign job_title_9 = block.settings.job_title_9 -%}
{%- assign job_category_9 = block.settings.job_category_9 -%}
{%- assign job_link_9 = block.settings.job_link_9 -%}
{%- assign job_location_9 = block.settings.job_location_9 -%}


<section class="wayfx-block wayfx-block--careers">
  <div class="wayfx-wrapper">
      <ul>
        {% if job_title_1 != blank %}
          <li>
            <a href="{{ job_link_1 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_1 }}
              </div>
              <div class="careers__category">
                {{ job_category_1 }}
              </div>
              <div class="careers__location">
                {{ job_location_1 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_2 != blank %}
          <li>
            <a href="{{ job_link_2 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_2 }}
              </div>
              <div class="careers__category">
                {{ job_category_2 }}
              </div>
              <div class="careers__location">
                {{ job_location_2 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_3 != blank %}
          <li>
            <a href="{{ job_link_3 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_3 }}
              </div>
              <div class="careers__category">
                {{ job_category_3 }}
              </div>
              <div class="careers__location">
                {{ job_location_3 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_4 != blank %}
          <li>
            <a href="{{ job_link_4 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_4 }}
              </div>
              <div class="careers__category">
                {{ job_category_4 }}
              </div>
              <div class="careers__location">
                {{ job_location_4 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_5 != blank %}
          <li>
            <a href="{{ job_link_5 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_5 }}
              </div>
              <div class="careers__category">
                {{ job_category_5 }}
              </div>
              <div class="careers__location">
                {{ job_location_5 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_6 != blank %}
          <li>
            <a href="{{ job_link_6 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_6 }}
              </div>
              <div class="careers__category">
                {{ job_category_6 }}
              </div>
              <div class="careers__location">
                {{ job_location_6 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_7 != blank %}
          <li>
            <a href="{{ job_link_7 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_7 }}
              </div>
              <div class="careers__category">
                {{ job_category_7 }}
              </div>
              <div class="careers__location">
                {{ job_location_7 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_8 != blank %}
          <li>
            <a href="{{ job_link_8 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_8 }}
              </div>
              <div class="careers__category">
                {{ job_category_8 }}
              </div>
              <div class="careers__location">
                {{ job_location_8 }}
              </div>
            </a>
          </li>
        {% endif %}
        {% if job_title_9 != blank %}
          <li>
            <a href="{{ job_link_9 }}" target="_blank">
              <div class="careers__title">
                {{ job_title_9 }}
              </div>
              <div class="careers__category">
                {{ job_category_9 }}
              </div>
              <div class="careers__location">
                {{ job_location_9 }}
              </div>
            </a>
          </li>
        {% endif %}
    </ul>
  </div>
</section>