{%- assign heading = block.settings.heading -%}
{%- assign paragraph = block.settings.paragraph -%}
{%- assign image = block.settings.image | image_url: width: 1200 -%}
{%- assign cta_link = block.settings.cta_link -%}
{%- assign cta_text = block.settings.cta_text -%}

<section class="wayfx-block wayfx-block--hero-with-image">
    <div class="wayfx-wrapper">
        <div class="grid">
            <div class="wayfx-block__left grid__item two-quarters">
                {% if heading %}
                    <h1 class="h1--secondary">{{ heading }}</h1>
                {% endif %}
                {% if paragraph %}
                    <p>{{ paragraph }}</p>
                {% endif %}
                {% if cta_link and cta_text %}
                    <a href="{{ cta_link }}" class="btn btn--xlarge">{{ cta_text }}</a>
                {% endif %}
            </div>
            {% if block.settings.image  %}
                <div class="wayfx-block__right grid__item two-quarters">
                    <img loading="lazy" data-blink-src="{{ image }}" alt="" />
                </div>
            {% endif %}
        </div>
    </div>
</section>