<section class="wayfx-block wayfx-block--promo-blocks" {{ block.shopify_attributes }}>
    <div class="wayfx-wrapper">
        <div class="grid">
        {%- for block in section.blocks -%}
            <div class="grid__item large--one-third">
                <h4>{{ section.settings.heading }}</h4>
                <p>{{ section.settings.paragraph }}</p>
                <a href="{{ block.settings.cta_link }}" class="btn btn--outline">
                    {{ block.settings.cta_text }}
                </a>
            </div>
        {%- endfor -%}
        </div>
    </div>
</section>

{% schema %}
    {
        "blocks": [
            {
                "type": "promotion-blocks",
                "name": "Promotion Blocks",
                 "settings": [
                    {
                        "id": "image",
                        "type": "image_picker",
                        "label": "Image"
                    },
                    {
                        "id": "heading",
                        "type": "text",
                        "label": "Heading"
                    },
                    {
                        "id": "paragraph",
                        "type": "textarea",
                        "label": "Paragraph"
                    },
                    {
                        "id": "cta_text",
                        "type": "text",
                        "label": "CTA Text"
                    },
                    {
                        "id": "cta_link",
                        "type": "url",
                        "label": "CTA Link"
                    }
                ]
            }
        ]
    }
{% endschema %}
