<!-- sections/f-product-gallery-and-information.liquid -->

{%- comment -%}
  NOTES
  -----

  The 'Crossed out pricing' option (site_wide_crossed_out_pricing_enabled) only works
  if there is no value in the 'VIP Code' input.

{%- endcomment -%}

{% liquid
  assign tag = product.metafields.tags.tag
  assign award = product.metafields.tags.award.value
  assign site_wide_enabled = settings.site_wide__enabled
  assign site_wide_percentage = settings.site_wide__percentage | divided_by: 100.0
  assign site_wide_label = settings.site_wide__label
  assign site_wide_label_enabled = settings.site_wide__label_enabled
  assign site_wide_collection = settings.site_wide__collection
  assign productIsGiftCard = false
  assign sold_out = true
  assign product_form_id = 'product-form-' | append: section.id
  assign vip_pricing = settings.vip-pricing

  if settings.discounts__vip_code == blank
    assign site_wide_crossed_out_pricing_enabled = settings.site_wide__crossed_out_pricing_enabled
  endif

  if site_wide_enabled
    for collection in product.collections
      if collection.handle == site_wide_collection
        assign site_wide_product = true
        assign on_sale = true
      endif
    endfor
  endif

  if product.gift_card?
    assign productIsGiftCard = true
  endif

  if productIsGiftCard or product.available
    assign sold_out = false
  endif
%}

{% liquid 
  if product.selected_variant
    assign current_variant = product.selected_variant

  elsif product.metafields.custom.default_variant and product.metafields.custom.default_variant.value.product == product
      assign current_variant = product.metafields.custom.default_variant.value

  else
    assign current_variant = product.selected_or_first_available_variant
  endif
%}

<script>
  window.variantStrings = {
    addToCart: `{{ 'products.product.add_to_cart' | t }}`,
    soldOut: `{{ 'products.product.sold_out' | t }}`,
    unavailable: `{{ 'products.product.unavailable' | t }}`,
    unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
  };
</script>
<script src="{{ 'f-popover.js' | asset_url }}" defer></script>
<script src="{{ 'd-constants.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'd-pubsub.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'd-variant-radios.js' | asset_url }}" defer="defer"></script>

{% liquid
  echo 'f-popover.css' | asset_url | stylesheet_tag
  echo 'd-variant-radios.css' | asset_url | stylesheet_tag
  echo 'f-product-hero.css' | asset_url | stylesheet_tag
  echo 'recharge-widget.css' | asset_url | stylesheet_tag
%}

<style>
  .pdp-gallery-page-width {
    position: relative;
    max-width: 100%;
    width:1440px;
    margin: 0 auto;
  }
  div.medk8-product--quantity-box {
    display: none;
  }
  .medk8-product--quantity-box .quantity-label {
    visibility: hidden;
  }

  .yotpo-bottomline.pull-left.star-clickable { align-items: center; }




  .product-information-scroll-track {
    padding-left: 24px;
    padding-right: 24px;
  }

  .product-gallery-and-information {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        'pdp-title'
        'pdp-gallery'
        'pdp-info'
        'pdp-description';
    gap: 0;
    grid-template-rows: min-content;
  }

  .product-information-scroll-item {
    grid-area: pdp-title;
  }

  .product-information-scroll-track {
    grid-area: pdp-info;
  }

  .product-gallery-container {
    grid-area: pdp-gallery;
    margin-bottom: 24px;
  }

  .product-information-description {
    grid-area: pdp-description;
  }

  .breadcrumbs {
    padding: 12px 24px;
    border-bottom: 2px solid #ebebeb;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 27px;
  }

  .breadcrumbs__item {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: '•';
    font-size: 14px;
    position: absolute;
    vertical-align: middle;
    right: -16px;
    top: 1px;
  }

  .breadcrumbs__link {
    text-decoration: none;
    font-size: var(--t-xxs);
  }

  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }

  .f-accordion--attached-to-description{
    display:block;
    padding-left:0;
    padding-right:0;

  }

  @media screen and (max-width: 1023px) {

    .product-information-scroll-item.f-product-hero__details {
      padding: 16px 24px;
    }

    .product-information-scroll-item.f-product-hero__details .breadcrumbs {
      min-height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      position: relative;
    }

    .product-information-scroll-item.f-product-hero__details .breadcrumbs::after {
      content: '';
      height: 1px;
      width: 100vw;
      position: absolute;
      left: -24px;
      right: 0;
      bottom: 0;
      background-color: #EBEBEB;
    }

    .product-information-scroll-item.f-product-hero__details .breadcrumbs li {
      margin-bottom: 0;
    }

    .product-information-scroll-item.f-product-hero__details  .f-product-title {
      font-weight: 600;
    }
  }


  #AddToCart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px !important;
    font-size: 12px;
  }

  div.product-gallery-price,
  div.product-gallery-price #ProductPrice,
  div.product-gallery-price #DiscountedPrice {
    color: white;
    font-size: inherit;
    min-height: 0;
    margin-right: 0;
    padding-left: 10px;
  }

  #AddToCart:hover div.product-gallery-price,
  #AddToCart:hover div.product-gallery-price #ProductPrice,
  #AddToCart:hover div.product-gallery-price #DiscountedPrice {
    color: black;
  }

  .product-information-description.f-product-hero__description {
    scroll-margin-top: var(--mh-total-height);
    line-height: 24px;
    padding: 0 24px;
    margin: 0 0 24px;
  }

  .product-gallery-and-information .btn {
    border-radius: 5px;
  }

  .product-gallery-and-information .btn--large {
    padding: 16px 24px;
  }

  @media screen and (min-width:1024px) {
    .breadcrumbs {
      padding: 20px 48px 0;
      border-bottom: none;
    }

    .product-form-sticky-section {
      position: sticky;
      position:-webkit-sticky;
      z-index: 0;
      grid-row: span 4;
      height: fit-content;
    }

    .product-information-scroll-track {
      position: sticky;
      position:-webkit-sticky;
      height: fit-content;
      background-color: white;
    }

    .product-gallery-and-information {
      grid-template-areas:
          'pdp-gallery pdp-title'
          'pdp-gallery pdp-info'
          'pdp-description pdp-info';
      gap: 0;
      grid-template-columns: auto 456px;
      padding-left: 48px;
      padding-right: 48px;
      margin-top: 16px;
      column-gap: 48px;
    }

    .product-information-scroll-track {
      padding-left: 0;
      padding-right: 0;
    }


    .product__returns {
      line-height: 20px;
      margin-top: 24px;
      text-align: center;
    }

    .product__returns a {
      color: #262626;
      font-size: 14px;
      text-decoration: underline;
    }

    .product__returns a:hover {
      cursor: pointer;
      text-decoration: none;
    }

    .product-information-description.f-product-hero__description {
      scroll-margin-top: var(--mh-total-height);
      font-size: 16px;
      margin: 0 0 32px;
      padding: 0;
    }

    @media all and (max-width: 1023px) {
      .product__returns a {
        font-size: 12px;
      }
    }
  }

  
  .product-image-carousel__slide[data-video]:before{
    position:absolute;
    content:'';
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    background-image:url({{ 'pdp.play-icon.svg' | asset_url }});
    background-size:100% 100%;
    transform:translate(-50%,calc(-50% - 6px));
  }

  @media all and (max-width: 1023px) {
    .product-image-carousel__slide[data-video]:before{
      transform:translate(-50%,-50%);
    }
  }

  .provenance-trust-badge-wrapper {
    margin-top: 20px;
  }
</style>

<div id="product-gallery-mobile-popover" class="f-popover">
  <div class="f-popover-content">
    <button class="f-popover-close">
      <img width="12" height="12" src="{{ 'Close.svg' | asset_url }}" alt="Close" loading="lazy">
    </button>
    <div class="js-prod-zoom-popover__content block-12/12"></div>
  </div>
</div>

<div class="pdp-gallery-page-width">
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a
          class="breadcrumbs__link"
          href="/"
          title="{{ 'general.breadcrumbs.home_link_title' | t }}"
        >
          {{ 'general.breadcrumbs.home' | t }}
        </a>
      </li>
      {% if collection.url %}
        <li class="breadcrumbs__item">
          {{ collection.title | replace: '[hidden]', '' | link_to: collection.url }}
        </li>
      {% endif %}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
      </li>
    </ol>
  </nav>

  <div class="product-gallery-and-information f-product-hero__wrapper">
    <div class="product-gallery-container">
      {% render 'f-product.gallery' , tag: tag %}
    </div>

    <div id="full-details" class="js-product-description product-information-description f-product-hero__description">
      <div class="row">{{ product.description }}</div>
    </div>

    <div class="js-product-information product-information-scroll-item f-product-hero__details">
      {% liquid
        echo 'f-product-information.css' | asset_url | stylesheet_tag
      %}

      <h1 class="f-product-title lh-reset f-w400 t-ucase">{{ product.title }}</h1>

      <h2 class="f-product__subheading lh-r f-w400">
        {% if section.settings.sub_heading %}
          <span>{{- section.settings.sub_heading -}}</span>
        {% endif %}
        <a class="f-product__full-details t-ul" href="#full-details">Full Details</a>
      </h2>

      {%- if settings.yotpo_stars_instance_id != blank -%}
        <div class="f-product__actions flex align-center justify-space">
          <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ settings.yotpo_stars_instance_id }}" data-yotpo-product-id="{{product.id}}" data-yotpo-cart-product-id="" data-yotpo-section-id="{{template.name}}"></div>
          <div class="f-product__wishlist">
            {% render 'product-wishlist' with product,
              disable_text: true
            %}
          </div>
        </div>
      {%- endif -%}

      {%- render 'pdp-form-labels-v2', variant: current_variant -%}

      {%- liquid
        assign show_provenance = false
        if product.tags contains 'provenance' and settings.ff_temp_provenance
          assign show_provenance = true
        endif
      -%}
      {%- if show_provenance -%}
        <div class="provenance-trust-badge-wrapper">
          <provenance-trust-badge access-token="Ctkh1BgW7S0SezpMjF2KyQ1sz37oOJOi">
            <div style="height: 38px"></div>
          </provenance-trust-badge>
      </div>
      {%- endif -%}

    </div>

    <div class="js-product-form-wrapper js-product-form product-information-scroll-track f-product-hero__details">
      {% liquid
        render 'f-product-variant-picker', product: product, product_form_id: product_form_id, current_variant: current_variant
      %}

      {%- if product.type == 'Bundles' -%}
        {%- render 'f-pdp-bundle-products' -%}
      {%- endif -%}

      {% render 'f-product-bnpl' %}

      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical product-form-{{ section.id }}" data-productid="{{product.id}}">
        {% unless sold_out %}
          <div class="medk8-product--quantity-box">
            <label class="quantity-label" for="quantityInput">Quantity:</label>
            <input type="number" name="quantity" value="1" max="5" min="1" id="quantityInput" data-variant-inventory-qty="{{ product.selected_or_first_available_variant.inventory_quantity }}"/>
            <div class="product__returns">
              <a data-fancybox data-src="#easy-returns" data-touch="false">{{ section.settings.shipping_popup }}</a>
            </div>
          </div>
        {% endunless %}

        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          <input type="hidden" name="id" id="productSelect" value="{{ product.selected_or_first_available_variant.id }}" />
        {% else %}
          <select name="id" id="productSelect" class="product-single__variants hide" data-productid="{{ product.id }}">
            {%- for variant in product.variants -%}

              {% liquid
                assign variant_size = variant.metafields.sf_settings.size
                assign variant_sold_out = false

                unless variant.title contains "travel" or variant.title contains "Travel"
                  assign site_wide_product = true
                endunless

                if site_wide_product == true and site_wide_enabled == true
                  if site_wide_crossed_out_pricing_enabled
                    assign discount_off = variant.price | times: site_wide_percentage
                    assign discount_price = variant.price | minus: discount_off
                  endif
                endif

                if productIsGiftCard == false
                  unless variant.available
                    assign variant_sold_out = true
                  endunless
                endif

                capture option_attributes
                  if variant_sold_out
                    echo ' data-disabled="true"'
                  endif

                  if variant == current_variant
                    echo ' selected="selected"'
                  endif

                  if variant.compare_at_price >= variant.price
                    echo ' data-price="' | append: variant.compare_at_price | money_without_trailing_zeros | append: '"'
                  else
                    echo ' data-price="' | append: variant.price | money_without_trailing_zeros | append: '"'
                  endif

                  unless variant.title contains "travel" or variant.title contains "Travel"
                    if variant.compare_at_price >= variant.price
                      echo ' data-discounted-price="' | append: variant.price | money_without_trailing_zeros | append: '"'
                    else
                      echo ' data-discounted-price="' | append: discount_price | money_without_trailing_zeros | append: '"'
                    endif
                  endunless
                endcapture
              %}
              <option
                data-image-id="{{ variant.image.id }}"
                data-sku="{{ variant.sku }}"
                data-discounted-price="{{ discount_price | money }}"
                data-compare="{{ variant.compare_at_price | money }}"
                data-price="{{ variant.price | money }}"
                value="{{ variant.id }}"
                data-option-inventory-qty="{{ variant.inventory_quantity }}"
                {{ option_attributes }}
              >
              {{ variant.title }}
              {% if variant_size != 0 and productIsGiftCard != true %} - {{ variant_size }}{% endif %}
              {% if variant_sold_out %} - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
            {%- endfor -%}
          </select>
        {% endif%}

        <div id="productInfoAtcContainer">
          <button type="submit"
            onClick="GlobalCartMain.addProductFromButton(event)"
            name="add"
            id="AddToCart"
            class="js-product-main-atc ProductSubmitButton-{{ section.id }} btn btn--full btn--large{% unless current_variant.available %} hide{% endunless%}">
            {%- capture low_stock -%}
              {%- assign qty = product.selected_or_first_available_variant.inventory_quantity -%}
              {%- if settings.low_stock_label == true and qty > 0 and qty <= settings.low_stock_trigger -%}
                <span class="f-w600"> - {{ 'products.product.low_stock' | t }}</span>
              {% endif -%}
            {%- endcapture -%}
            
            <span id="AddToCartText" >
              {{ 'products.product.add_to_cart' | t }}
              {{ low_stock }}
            </span>
            <div class="medk8-product--price-box product-gallery-price" id="price-{{ section.id }}">
              {% if current_variant.available %}
                {%- render 'price-v2', variant: current_variant, style: 'pdp' -%}
              {% endif %}
            </div>
          </button>
          {%- if settings.klaviyo_api != blank -%}
            <button
              type="button"
              name="out-of-stock-trigger"
              class="js-out-of-stock-trigger btn btn--full btn--large f-popover-trigger {% if current_variant.available %}hide{% endif %}"
              data-target="#OutOfStockPopover">
              {{ section.settings.oos__pdp_button_text }}
            </button>
          {%- else -%}
            <button
              type="button"
              name="out-of-stock-trigger"
              class="js-out-of-stock-trigger btn btn--full btn--large f-popover-trigger {% if current_variant.available %}hide{% endif %}"
              onclick="handleOutOfStockClick('{{ settings.bloomreach_banner_id }}')"
            >
              {{ section.settings.oos__pdp_button_text }}
            </button>
            <script>
              function handleOutOfStockClick(bannerId) {
                if (bannerId && bannerId.trim() !== '') {
                    try {
                      exponea.showWebLayer(bannerId);
                    } catch (error) {
                      console.error("Error calling exponea.showWebLayer:", error);
                    }
                } else {
                  console.error("Error: bloomreach_banner_id is missing or empty.");
                }
              }
            </script>
          {%- endif -%}
        </div>
      </form>

      {%- if settings.klaviyo_api != blank -%}
        <div class="f-popover" id="OutOfStockPopover">
          <div class="f-popover-overlay"></div>
          <div class="f-popover-content">
            <button class="f-popover-close">
              <img width="12" height="12" src="{{ 'Close.svg' | asset_url }}" alt="Close" loading="lazy">
            </button>
            {% render 'f-block-oos-notify' section:section %}
          </div>
        </div>
      {%- endif -%}

      {% comment %} {% render 'product-loyalty-points' section:section %} {% endcomment %}
      {% render 'f-product-loyalty-points' section:section %}

      <div id="easy-returns" style="display: none;">
        <p class="p--md">{{ section.settings.popup_text }}</p>
      </div>
    </div>
  </div>
</div>

{% render 'product-bar' %}

<script type="text/javascript">

  let productStickySection = false
  let productStickySectionIsWrapped = false
  const productStickySectionChildItems = [
    document.querySelector('.js-product-information'),
    document.querySelector('.js-product-form-wrapper ')
  ]

  function wrapProductStickySection(){
    if(productStickySectionIsWrapped){
      return
    }
    productStickySectionIsWrapped = true
    productStickySection = document.createElement('div')
    productStickySection.classList.add('js-product-form-sticky-section','product-form-sticky-section')
    productStickySectionChildItems[0].parentNode.insertBefore(productStickySection, productStickySectionChildItems[0])
    productStickySectionChildItems.forEach((item,index) => {
      productStickySection.appendChild(item);
    })
    updateProductStickyStack()
  }

  function unwrapProductStickySection(){
    if(!productStickySectionIsWrapped){
      return
    }
    productStickySectionIsWrapped = false
    productStickySection.childNodes.forEach( item => {
      productStickySection.parentNode.insertBefore(item, productStickySection)
    })
    //productStickySection.remove()
    productStickySection = false
  }

  function toggleProductStickSectionWrap(){
    if(window.innerWidth > 1023){
      wrapProductStickySection()
    }else{
      unwrapProductStickySection()
    }
  }

  function updateProductStickyStack(){
    if(!productStickySection){
      return
    }
    const viewPortBlockingStickyItems = getCombinedBoundingBox(['header','#shopify-section-header-below'])
    const viewPortBlockingStickyRelativeHeight = viewPortBlockingStickyItems.height + viewPortBlockingStickyItems.top
    const viewportheight = window.innerHeight - viewPortBlockingStickyRelativeHeight
    const top = productStickySection.offsetHeight > viewportheight ? 
      0 - (productStickySection.offsetHeight - viewportheight) : 
      viewPortBlockingStickyRelativeHeight + 48
    productStickySection.style.top = `${top}px`
  }

  function getCombinedBoundingBox(selectors) {
    const rects = selectors
        .map(selector => document.querySelector(selector))
        .filter(element => element !== null)
        .map(element => element.getBoundingClientRect());

    if (rects.length === 0) {
        return null
    }
    const combinedBoundingBox = rects.reduce((acc, rect) => {
        return {
            top: Math.min(acc.top, rect.top),
            right: Math.max(acc.right, rect.right),
            bottom: Math.max(acc.bottom, rect.bottom),
            left: Math.min(acc.left, rect.left)
        };
    }, {
        top: Infinity,
        right: -Infinity,
        bottom: -Infinity,
        left: Infinity
    });

    combinedBoundingBox.width = combinedBoundingBox.right - combinedBoundingBox.left;
    combinedBoundingBox.height = combinedBoundingBox.bottom - combinedBoundingBox.top;

    return combinedBoundingBox;
  }

  DomReadyPromise().then( () => {
    if (window.outerWidth >= 1024) {
      setTimeout(function() {
        // Trigger resize to fix the image gallery not loading correctly
        window.dispatchEvent(new Event('resize'));
      }, 100);
    }
    
    const UXTriggerEvents = ['init','load','resize','scroll']

    UXTriggerEvents.forEach(event => {
      if(event == 'init'){
        toggleProductStickSectionWrap()
      }else{
        window.addEventListener(event,(e) => {
          if(event == 'resize'){
            toggleProductStickSectionWrap()
          }else{
            updateProductStickyStack()
          }
        })
      }
    })

    // MOVE THE ACCORDIONS INTO THE MAIN GRID
    const accordionTarget = document.querySelector('.js-product-description')
  
    if (accordionTarget != null) {
      let accordionElements = window.productSectionsDataLayer.map(
        id => document.getElementById(`shopify-section-${id}`)
      )
      .filter(element => element !== null)
      .sort((a, b) => {
        return a.compareDocumentPosition(b) & Node.DOCUMENT_POSITION_FOLLOWING ? -1 : 1;
      }).forEach(element => {
        // If we are not accessing the page through the Shopify admin editor
        {%- unless request.design_mode -%}
          // Create a new div element
          const newElement = document.createElement('div');

          // Copy all attributes from the section element to the new div
          Array.from(element.attributes).forEach(attr => {
            newElement.setAttribute(attr.name, attr.value);
          });

          // Move all child elements from the section to the new div
          while (element.firstChild) {
            newElement.appendChild(element.firstChild);
          }

          // Empty origin element
          element.innerHTML = ''

          // Delete the origin element
          element.remove();

          // Add a class to the new element
          newElement.classList.add('f-accordion--attached-to-description')

          accordionTarget.appendChild(newElement);
        {%- endunless -%}
      })

      const provenanceTrustBadge = document.querySelector('provenance-trust-badge')
      if(provenanceTrustBadge){
        provenanceTrustBadge.addEventListener('click', e => {
          const sustainabilitySection = document.querySelector('.accordion-sustainability-claims .wrapper')
          sustainabilitySection.setAttribute('open', '')       
        })
      }
    }
  
  }).catch(err => {
    console.log(err)
  })

  // Recharge
  DomReadyPromise().then(() => {
    const addToCartFormEl = document.getElementById('AddToCartForm');
    
    const rechargeWidgetLoaded = () => {
      window.rechargeWidgetLoaded = true;

      addToCartFormEl
        .querySelector('.medk8-product--price-box')
        .classList.add('hide');


      buildCompareSpan(addToCartFormEl, 'onetime', {{ settings.subs_show_compare_onetime }})
      buildCompareSpan(addToCartFormEl, 'subsave', {{ settings.subs_show_compare_subsave }})
      sitewide && sitewide.updateSubscriptionPricing(String({{ current_variant.id }}))

      // listen for and react to recharge widget option change
      const rcWidgetOptions = document.querySelectorAll('.rc_container_wrapper .rc-option')

      rcWidgetOptions.forEach(option => {
        option.addEventListener(
          'click',
          e => e.target.value && updateAtcPriceBoxFromSubs(e)
        );
      });
    };

    /**
    * Builds and inserts a comparison price span element next to the price span within a given container.
    *
    * @param {HTMLElement} container - The container element where the price span is located.
    * @param {string} classSuffix - A suffix to distinguish different price span elements.
    * @param {boolean} [update] - Whether to check for and then show a comparison price, defaults to false.
    */
    function buildCompareSpan(container, classSuffix, update=false){
      let priceSpan = container.querySelector(`.rc_widget__price--${classSuffix}`);
      priceSpan.style = 'margin-left: 10px';

      const compareSpan = document.createElement('s');
      compareSpan.className = `rc_widget__price compare-at--${classSuffix} f-w400`;
      compareSpan.setAttribute('update', update)
      priceSpan.parentNode.insertBefore(compareSpan, priceSpan);

      if (update) {
        const variantSelect = document.querySelector('select#productSelect');
        compareSpan.textContent = variantSelect
          ? variantSelect.options[variantSelect.selectedIndex].getAttribute(
              'data-compare'
            )
          : '{{ current_variant.compare_at_price | money }}';
      }
    }

    // update the pre & actual prices in the ATC price box
    // with price data from the subscriptions widget
    function updateAtcPriceBoxFromSubs(event) {
      if(event.target.tagName !== 'INPUT') return

      const subsType = event.target.value;
      const pricePre = event.target
        .closest('.rc-widget')
        .querySelector(`s.compare-at--${subsType}`).textContent;
      const priceActual = event.target
        .closest('.rc-widget')
        .querySelector(`span.rc_widget__price--${subsType}`).textContent;
  
      const priceBox = document.querySelector('#AddToCart');
      priceBox.querySelector('s.price-v2__pre-pdp') &&
      (priceBox.querySelector('s.price-v2__pre-pdp').textContent =
        pricePre);
      priceBox.querySelector('span.price-v2__actual-pdp').textContent = priceActual;

      setTimeout(()=> {
        const loyaltyPrice = document.querySelector(
          '#AddToCart .price-v2__actual-pdp'
        ).textContent;
        const loyaltyHint = document.querySelector('.js-loyalty-hint__price')
        if (loyaltyHint) loyaltyHint.innerHTML = loyaltyPrice;
        window.loyaltylion.ui && window.loyaltylion.ui.refresh();
      }, 0)
    } 
  

    // watch for recharge being addded
    if (addToCartFormEl.querySelector('.rc-container-wrapper')) {
      rechargeWidgetLoaded();
    } else {
      const observer = new MutationObserver(mutations => {
        for (let mutation of mutations) {
          if (
            mutation.addedNodes.length &&
            [...mutation.addedNodes].filter(
              n =>
                n.nodeType === Node.ELEMENT_NODE &&
                n.classList.contains('rc-container-wrapper')
            ).length
          ) {
            rechargeWidgetLoaded();
            observer.disconnect();
            break;
          }
        }
      });
  
      observer.observe(addToCartFormEl, { childList: true, subtree: false });
    }
  });
</script>

{% schema %}
{
  "name": "Product Gallery/Info",
  "presets": [
    {
      "name": "Product Gallery/Info"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Config"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Product Subheading"
    },
    {
      "type": "checkbox",
      "id": "update_variant_id_url_param",
      "label": "Update Variant ID Url Parameter",
      "info": "When checked, each time a different variant is selected, update the variant url parameter with the new ID.",
      "default": true
    },
    {
      "type": "header",
      "content": "Buy Now Pay Later"
    },
    {
      "type": "paragraph",
      "content": "Choose which BNPL option to show."
    },
    {
      "type": "checkbox",
      "id": "klarna",
      "label": "Klarna",
      "info": "UK Store Only - Not Yet Implemented",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "afterpay",
      "label": "Afterpay",
      "info": "US Store Only",
      "default": false
    },
    {
      "type": "header",
      "content": "OOS Notification"
    },
    {
      "type": "text",
      "id": "oos__pdp_button_text",
      "label": "PDP OOS Button Text",
      "info": "Button text to show in place of 'Add To Bag' when product is out of stock.",
      "default": "Email me when back in stock"
    },
    {
      "type": "checkbox",
      "id": "oos__show",
      "label": "Show email capture",
      "info": "Show the OOS email capture form. This will add the user to the stock notification flow on Klaviyo. Klaviyo API key can be found in theme settings/modules",
      "default":true
    },
    {
      "type": "text",
      "id": "oos__heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "oos__content",
      "label": "Tagline / below heading text"
    },
    {
      "type": "text",
      "id": "oos__button_text",
      "label": "Button text"
    },
    {
      "type": "richtext",
      "id": "oos__accept_policy_text",
      "label": "Policy acceptance text"
    },
    {
      "type": "richtext",
      "id": "oos__below_button__default",
      "label": "Below button (default)"
    },
    {
      "type": "richtext",
      "id": "oos__below_button__success",
      "label": "Below button (user added)"
    },
    {
      "type": "richtext",
      "id": "oos__below_button__error",
      "label": "Below button (error)"
    }
  ]
}
{% endschema %}
