{% comment %}theme-check-disable UnusedAssign{% endcomment %}

{{ "component-wayfx-footer.css" | asset_url | stylesheet_tag }}

{%- assign wayfx_footer_menu = section.settings.wayfx_footer_main_menu -%}
{%- assign wayfx_footer_copyright = section.settings.wayfx_footer_copyright %}
{%- assign wayfx_footer_legal_menu = section.settings.wayfx_footer_legal_menu -%}
{%- assign wayfx_footer_instagram = section.settings.wayfx_footer_instagram -%}
{%- assign wayfx_footer_facebook = section.settings.wayfx_footer_facebook -%}
{%- assign wayfx_footer_youtube = section.settings.wayfx_footer_youtube -%}
{%- assign wayfx_footer_tiktok = section.settings.wayfx_footer_tiktok -%}


<div class="wayfx-wrapper">
  <div class="wayfx-footer__columns">
    {% for link in linklists[wayfx_footer_menu].links %}
      {% if link.links.size > 1 %}
      <div class="wayfx-footer__column">
        <span class="js-footer-accordion-toggle heading">{{ link.title }}</span>
        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
            <li>
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
            </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    {% endif %}
    {% endfor %}
  </div>

    {% render 'module-footer-newsletter' %}

  <div class="wayfx-footer__bottom">
    <div class="wayfx-footer__column-left">
      <div class="wayfx-footer__copyright">
        &#169; {{ 'now' | date: '%Y' }} {{ wayfx_footer_copyright }}
      </div>
      {%- if wayfx_footer_legal_menu != blank -%}
        <div class="wayfx-footer__extra-links">
          <ul>
            {%- for link in linklists[wayfx_footer_legal_menu].links -%}
              {%- if link.url == '#resetcookieprefs' -%}
                <li><a href="{{ link.url }}" onclick="clearCookie(event, ['_tracking_consent', '_clck', '_clsk'], true)">{{ link.title }}</a></li>
                {%- else -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  <div class="border-element"></div>
    <div class="wayfx-footer__column-right">
      <ul class="wayfx-footer__social-icons">
      {% if wayfx_footer_instagram != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ wayfx_footer_instagram }}" title="{{ shop.name }} on Instagram" rel="noreferrer" target="_blank">
            <i class="wayfx-icon wayfx-icon-instagram" aria-hidden="true"></i>
            <span class="fallback-text">Instagram</span>
          </a>
        </li>
      {% endif %}
      {% if wayfx_footer_facebook != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ wayfx_footer_facebook }}" title="{{ shop.name }} on Facebook" rel="noreferrer" target="_blank">
            <i class="wayfx-icon wayfx-icon-facebook" aria-hidden="true"></i>
            <span class="fallback-text">Facebook</span>
          </a>
        </li>
      {% endif %}
      {% if wayfx_footer_youtube != blank %}
        <li>
          <a class="icon-fallback-text" href="{{ wayfx_footer_youtube }}" title="{{ shop.name }} on YouTube" rel="noreferrer" target="_blank">
            <i class="wayfx-icon wayfx-icon-youtube" aria-hidden="true"></i>
            <span class="fallback-text">YouTube</span>
          </a>
        </li>
      {% endif %}
      {% if wayfx_footer_tiktok != blank %}
      <li>
        <a class="icon-fallback-text" href="{{ wayfx_footer_tiktok }}" title="{{ shop.name }} on Tiktok" rel="noreferrer" target="_blank">
          <i class="wayfx-icon wayfx-icon-tiktok" aria-hidden="true"></i>
          <span class="fallback-text">Tiktok</span>
        </a>
      </li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>



<script>
  (function(w,e,b,g,a,i,n,s){w['ITCLKOBJ']=a;w[a]=w[a]||function(){(w[a].q=w[a].q||[]).push(arguments)},w[a].l=1*new Date();i=e.createElement(b),n=e.getElementsByTagName(b)[0];i.async=1;i.src=g;n.parentNode.insertBefore(i,n)})(window,document,'script','https://analytics.webgains.io/clk.min.js','ITCLKQ');
  ITCLKQ('set', 'internal.cookie', true);
  ITCLKQ('set', 'internal.api', true);
  ITCLKQ('click');
</script>

<script type="text/javascript">

  
  DomReadyPromise().then( () => {
    document.querySelectorAll('.js-footer-accordion-toggle').forEach(element => {
      element.addEventListener('click', e => {
        e.preventDefault()
        let content = element.nextElementSibling
        if (window.innerWidth <= 768) {
          element.classList.toggle('open')
          if (content.style.display === 'none' || content.style.display === '') {
            content.style.display = 'block'    
            content.animate([{
              height: 0,
            }, {
              height: `${content.scrollHeight}px`,
            }], 200)
            .onfinish = (e) => {
              content.style.height = 'auto'
            }
          } else {
            content.animate([{
              height: `${content.scrollHeight}px`,
            }, {
              height: 0
            }], 200)
            .onfinish = (e) => {
              content.style.height = 0
              content.style.display = 'none'
            }
          }
        }
      })
    })
  }).catch(err => {
    console.log(err)
  })
</script>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "wayfx-footer",
  "settings": [
    {
      "id": "wayfx_footer_main_menu",
      "type": "link_list",
      "label": "Footer Main Menu"
    },
    {
      "id": "wayfx_footer_copyright",
      "type": "inline_richtext",
      "label": "Copyright"
    },
    {
      "id": "wayfx_footer_legal_menu",
      "type": "link_list",
      "label": "Footer Legal Menu"
    },
    {
      "type": "text",
      "id": "wayfx_footer_instagram",
      "label": "Instagram URL",
      "info": "https:\/\/instagram.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_facebook",
      "label": "Facebook URL",
      "info": "https:\/\/facebook.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_youtube",
      "label": "YouTube URL",
      "info": "https:\/\/youtube.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_tiktok",
      "label": "Tiktok URL",
      "info": "https:\/\/tiktok.com\/wayfx"
    }
  ]
}
{% endschema %}
