{% comment %}theme-check-disable UnusedAssign{% endcomment %}

{{ "component-wayfx-footer.css" | asset_url | stylesheet_tag }}

{%- assign wayfx_footer_menu = section.settings.wayfx_footer_main_menu -%}
{%- assign wayfx_footer_copyright = section.settings.wayfx_footer_copyright %}
{%- assign wayfx_footer_legal_menu = section.settings.wayfx_footer_legal_menu -%}
{%- assign wayfx_footer_instagram = section.settings.wayfx_footer_instagram -%}
{%- assign wayfx_footer_facebook = section.settings.wayfx_footer_facebook -%}
{%- assign wayfx_footer_youtube = section.settings.wayfx_footer_youtube -%}
{%- assign wayfx_footer_tiktok = section.settings.wayfx_footer_tiktok -%}


<div class="wayfx-wrapper block-grid--index qp0 qfooter__wrapper">
  <div class="wayfx-footer__columns">
    {% for link in linklists[wayfx_footer_menu].links %}
      {% if link.links.size > 1 %}
      <div class="wayfx-footer__column">
        <span class="js-footer-accordion-toggle heading">{{ link.title }}</span>
        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
            <li>
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
            </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="module-footer-newsletter-wrapper qfooter__wrapper">
    {% render 'module-footer-newsletter' %}

    {% render 'footer-social-icons'
      wayfx_footer_instagram: wayfx_footer_instagram,
      wayfx_footer_facebook: wayfx_footer_facebook,
      wayfx_footer_youtube: wayfx_footer_youtube,
      wayfx_footer_tiktok: wayfx_footer_tiktok
    %}
  
    <!-- TrustBox widget - Micro Star -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5e1a62f381857100017c4b42" data-style-height="19px" data-style-width="100%" data-theme="dark">
      <a href="https://uk.trustpilot.com/review/medik8.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->

  </div>

</div>

<div class="wayfx-footer__bottom block-grid--index footer__wrapper">

  <div class="wayfx-footer__column-left">
    <div class="wayfx-footer__copyright">
      &#169; {{ 'now' | date: '%Y' }} {{ wayfx_footer_copyright }}
    </div>
    {%- if wayfx_footer_legal_menu != blank -%}
      <div class="wayfx-footer__extra-links">
        <ul>
          {%- for link in linklists[wayfx_footer_legal_menu].links -%}
            {%- if link.url == '#resetcookieprefs' -%}
              <li>
                <button
                  role="button"
                  class="ot-sdk-show-settings"
                  aria-label='Reset cookie preferences'
                  onclick="window.OneTrust ? OneTrust.ToggleInfoDisplay() : clearCookie(event, ['_tracking_consent', '_clck', '_clsk'], true);"
                  >{{ link.title }}</button
                >
              </li>
              {%- else -%}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>
  {%- render 'footer-payment-icons' -%}
</div>

<script type="text/javascript">
  DomReadyPromise().then( () => {
    document.querySelectorAll('.js-footer-accordion-toggle').forEach(element => {
      element.addEventListener('click', e => {
        e.preventDefault()
        let content = element.nextElementSibling
        if (window.innerWidth <= 768) {
          element.classList.toggle('open')
          if (content.style.display === 'none' || content.style.display === '') {
            content.style.display = 'block'    
            content.animate([{
              height: 0,
            }, {
              height: `${content.scrollHeight}px`,
            }], 200)
            .onfinish = (e) => {
              content.style.height = 'auto'
            }
          } else {
            content.animate([{
              height: `${content.scrollHeight}px`,
            }, {
              height: 0
            }], 200)
            .onfinish = (e) => {
              content.style.height = 0
              content.style.display = 'none'
            }
          }
        }
      })
    })
  }).catch(err => {
    console.log(err)
  })
</script>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "wayfx-footer",
  "settings": [
    {
      "id": "wayfx_footer_main_menu",
      "type": "link_list",
      "label": "Footer Main Menu"
    },
    {
      "id": "wayfx_footer_copyright",
      "type": "inline_richtext",
      "label": "Copyright"
    },
    {
      "id": "wayfx_footer_legal_menu",
      "type": "link_list",
      "label": "Footer Legal Menu"
    },
    {
      "type": "text",
      "id": "wayfx_footer_instagram",
      "label": "Instagram URL",
      "info": "https:\/\/instagram.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_facebook",
      "label": "Facebook URL",
      "info": "https:\/\/facebook.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_youtube",
      "label": "YouTube URL",
      "info": "https:\/\/youtube.com\/wayfx"
    },
    {
      "type": "text",
      "id": "wayfx_footer_tiktok",
      "label": "Tiktok URL",
      "info": "https:\/\/tiktok.com\/wayfx"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Become a Medik8 Member"
    },
    {
      "type": "text",
      "id": "newsletter_subtitle",
      "label": "Newsletter Subtitle",
      "default": "Subscribe to our newsletter and enjoy 15% off your first order"
    },
    {
      "type": "text",
      "id": "newsletter_discount_code",
      "label": "Newsletter Discount Code",
      "default": "WELCOME15"
    },
    {
      "type": "text",
      "id": "newsletter_small_print",
      "label": "Newsletter Small Print",
      "default": "By joining, you agree to receive email communications from Medik8."
    },
    {
      "type": "text",
      "id": "footer_extra_terms",
      "label": "Footer Extra Terms"
    },
    {
      "type": "header",
      "content": "Footer Payment Options"
    },
    {
      "type": "checkbox",
      "id": "show_american_express",
      "label": "Show American Express",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_apple_pay",
      "label": "Show Apple Pay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_diners_club",
      "label": "Show Diners Club",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_discover",
      "label": "Show Discover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_google_pay",
      "label": "Show Google Pay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_maestro",
      "label": "Show Maestro",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_master",
      "label": "Show Mastercard",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_paypal",
      "label": "Show PayPal",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shopify_pay",
      "label": "Show Shopify Pay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_unionpay",
      "label": "Show UnionPay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_visa",
      "label": "Show Visa",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_afterpay",
      "label": "Show Afterpay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_klarna",
      "label": "Show Klarna",
      "default": true
    }
  ]
}
{% endschema %}
