<section class="wayfx-block wayfx-block--reset-account">
  <div class="wayfx-wrapper">
    <div class="form-vertical wayfx-block__left">
      {% form 'reset_customer_password' %}
      <h3 class="h3--primary text-center">{{ 'customer.reset_password.subtext' | t }}</h3>

      {{ form.errors | default_errors }}

      <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
      <global-password-input inputId="ResetPassword"
                             inputClass="input-full{% if form.errors contains 'password' %} error{% endif %}"
                             inputName="customer[password]"
                             inputPlaceholder="{{ 'customer.reset_password.password' | t }}"
                             validationHintText="{{ 'customer.password_validation_hint' | t }}">
      </global-password-input>
      
      <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

      <div class="text-center">
        <button type="submit" class="btn btn--xlarge btn--full">{{ 'customer.reset_password.submit' | t }}</button>
      </div>

      {% endform %}
    </div>
  </div>
</section>