<div class="wayfx-cart">
  <div class="wayfx-wrapper">
    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" class="cart">
        <div class="wayfx-cart-wrapper">
          <div class="wayfx-cart-items">
            <h1 class="h1--secondary">{{ 'cart.general.title' | t }}</h1>
            <table class="cart-table full">
              <tbody>
                {% for item in cart.items %}
              
               {% liquid 
                  assign isSample = false
                  assign productType = item.product.type | handleize
                  assign productTitle = item.product.title | handleize
                  assign variantTitle = item.variant.title | handleize
                  if productType contains 'sample' or productTitle contains 'sample' or variantTitle contains 'sample' or item.properties._RoswellSample
                    assign isSample = true
                  endif 
                %}
                {% assign hideCartQty = false %}
                {% if item.properties._gift or item.properties._bundle or isSample%}
                  {% assign hideCartQty = true %}
                {% endif %}

                <tr class="cart__row table__section">
                  <td data-label="{{ 'customer.order.product' | t }}" class="cart__image">
                    <div class="block-rel">
                      {% if isSample %}
                      <img src="{{ item | image_url }}" alt="{{ item.title | escape }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
                      {% else %}
                      <a href="{{ item.url | within: collections.all }}">
                        <img src="{{ item | image_url }}" alt="{{ item.title | escape }}" width="{{ image.width }}" height="{{ image.height }}" loading="lazy">
                      </a>
                      {% endif %}
                      {% if hideCartQty %}
                      <span class="counter global-cart-counter">{{ item.quantity }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td class="cart__info">
                    <div class="cart__inner-row">
                      <div class="cart__product">
                        {% if item.selling_plan_allocation %}
                          <div class="cart__subscription">{{  'cart.product.subscription' | t }}</div>
                        {% endif %}
                        {% if item.properties._gift %}
                          <div class="cart__gift">{{ 'cart.product.free_gift' | t }}</div>
                        {% endif %}
                        {% if item.properties._bundle %}
                          <div class="cart__gift">{{ 'cart.product.bundle' | t }}</div>
                        {% endif %}
                        <div class="cart__title">
                          {% if isSample %}
                          <span class="h4">{{ item.product.title }}</span>
                          {% else %}
                          <a href="{{ item.url }}" class="h4">{{ item.product.title }}</a>
                          {% endif %}
                        </div>
                        {% if item.selling_plan_allocation.selling_plan.name %}
                          <div class="cart__title">{{  item.selling_plan_allocation.selling_plan.name }}</div>
                        {%  endif %}

                        {% unless item.variant.title contains 'Default' %}
                          {% unless item.properties._gift or item.properties._bundle %}
                          {% endunless %}
                        {% endunless %}
                        {% if settings.cart_vendor_enable %}
                          <p>{{ item.vendor }}</p>
                        {% endif %}
                      </div>
                      {% unless item.properties._gift  %}
                        <div class="cart-item__remove" data-id="{{item.key}}"
                             {% if item.properties._RoswellSample %}
                              data-rosewell-sample-remove
                             {% endif %}>
                          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                            <i class="wayfx-icon wayfx-icon-delete"></i>
                          </a>
                        </div>
                      {% endunless %}
                    </div>
                    <div class="cart__inner-row">
                      {% assign is_bundle = false %}
                      {% for property in item.properties %}
                        {% if property.first contains '_bundle' %}
                          {% assign is_bundle = true %}
                        {% endif %}
                      {% endfor %}
                      {% if hideCartQty %}
                      <input name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" type="hidden" readonly>
                      {% else %}
                      <div class="cart__qty" >
                        <select class="js-main-cart__update-selector styled-selector" 
                                data-id="{{ item.key }}" 
                                data-line="{{ forloop.index }}" 
                                aria-label="quantity" 
                                type="number" 
                                name="updates[]" 
                                id="updates_{{ item.id }}">
                            
                          {% comment %}Are we going to use a max value? Currrently defined in script{% endcomment %}
                          {% liquid 
                            assign count = item.variant.inventory_quantity
                            if count > 6
                              assign count = 6
                            endif 
                          %}
                      
                          {% for i in (0..count) %}
                          <option value="{{ i }}" {% if i == item.quantity %} selected{% endif %}>{{ i }}</option>
                          {% endfor %}
                        </select>
                      </div>                 
                      {% endif %}
                      {% if item.properties._bundle %}
                        {% if item.variant.title contains 'Default' %}
                          <small style="font-style: italic;">Bundle Product {% if item.quantity > 1 %} x{{item.quantity}}{% endif%}</small>
                        {% else %}
                          <small style="font-style: italic;">{{ item.variant.title }} {% if item.quantity > 1 %} x{{item.quantity}}{% endif%}</small>
                        {% endif %}
                      {% endif %}
                      <div class="cart__price">
                        {% if item.original_line_price != item.line_price %}
                          <span class="cart__original-price"><s>{{ item.original_line_price | money }}</s></span>
                        {% endif %}
                        <span class="cart__final-price">
                          {{ item.line_price | money }}
                        </span>
                          {% for discount in item.discounts %}
                            {% if item.properties._bundle %}
                              <div class="cart-item__discount cart-item__discount--desktop">{{ discount.title }}</div>
                            {% else %}
                              <div class="cart-item__discount cart-item__discount--desktop"><i class="wayfx-icon wayfx-icon-tag"></i> {{ discount.title }}</div>
                            {% endif %}
                          {% endfor %}

                      </div>
                    </div>
                      {% for discount in item.discounts %}
                        {% if item.properties._bundle %}
                          <div class="cart-item__discount cart-item__discount--mobile">{{ discount.title }}</div>
                        {% else %}
                          <div class="cart-item__discount cart-item__discount--mobile"><i class="wayfx-icon wayfx-icon-tag"></i> {{ discount.title }}</div>
                        {% endif %}
                      {% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if settings.show_roswell_sampler and  settings.sample_collection.products != blank %}
            <div class="js-roswell-sample-cart-wrapper" style="display:none">
            {% render 'roswell-sample-selector' %}
            </div>
            <script type="text/javascript">
              DomReadyPromise().then( async () => {

                const RoswellLoader = new DynamicImporter([
                  {
                    type:'js',
                    url:{{ 'scripts.dist.roswell_samples.js' | asset_url | json }}
                  }
                ])
                
                await RoswellLoader.load()
                document.querySelector('.js-roswell-sample-cart-wrapper').style.display = 'block'

                const cart =  await new GlobalCart() 
                cart.subscribe( ({eventType}) => {
                  if(eventType == 'update'){
                    location.reload()
                  }
                })

              }).catch(err => {
                console.log(err)
              })
            </script>
            {% endif %}
          </div>
          <div class="wayfx-cart-sidebar">
            <div class="wayfx-cart-sidebar__sticky">
              <h2 class="h2--secondary">{{ 'cart.general.summary' | t }}</h2>
              <div class="wayfx-cart-summary">
                <dl>
                  <dt>{{ 'cart.general.subtotal' | t }}</dt>
                  <dd><strong>{{ cart.total_price | money }}</strong></dd>
                </dl>
                {% if cart.total_discounts > 0 %}
                {% assign savings = cart.total_discounts | money %}
                <p>
                  <span class="cart-subtotal__savings">{{ 'cart.general.savings_html' | t: price: savings }}</span>
                </p>
                {% endif %}
                <button type="submit" name="update" class="js-main-cart__update-btn btn--outline btn--full btn--xlarge update-cart btn--large">{{ 'cart.general.update' | t }}</button>
                <button type="submit" name="checkout" class="btn btn--full btn--xlarge cart__checkout">
                  <i class="wayfx-icon wayfx-icon-lock"></i> {{ 'cart.general.checkout' | t }}
                </button>
              </div>
              <div class="cart-actions-wrapper">
                {% if settings.progress_discount__remove_free_gifts %}
                  <global-freegift-toggle></global-freegift-toggle>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </form>
    {% else %}
    <div class="wayfx-cart-empty">
        <h4 class="h4--primary">{{ 'cart.general.empty_title' | t }}</h4>
        <p>{{ 'cart.general.empty' | t }}</p>
        <a href="/collections/all" class="btn btn--xlarge btn--primary">{{ 'cart.general.empty_cta' | t }}</a>
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">


  const updateCartButton = document.querySelector('.js-main-cart__update-btn')
  document.querySelectorAll('.js-main-cart__update-selector')?.forEach(element => element.addEventListener('change',() => {
    updateCartButton.style.display = 'block'
  }))

</script>
