{%- assign slider_alignment = section.settings.slider_alignment -%}
{%- assign slider_product = section.settings.product -%}
{%- assign disclaimer = section.settings.disclaimer -%}

<section class="wayfx-block wayfx-block--before-after-slider wayfx-block--before-after-slider-{{ block.id}}">
  <div class="wayfx-wrapper">
    <div class="grid-flex {% if slider_alignment == 'left' %}grid-flex--right-product{% else %}grid-flex--left-product{% endif %}">
      {% if slider_alignment == 'right' %}
        <div class="grid-flex__text large--one-half">
            {% if slider_product %}
                {%- assign product = all_products[slider_product] -%}
                {% render 'product-grid-item', product: product, product_layout: 'before-after' %}
            {% endif %}
            {% if disclaimer %}<small>{{ disclaimer }}</small>{% endif %}
        </div>
      {% endif %}

      <div class="grid-flex__slider-image large--one-half">
        <div class="wayfx-block__slider slider--arrow-alt slider--arrow-sm">
          {% for block in section.blocks %}
            <div>
              <img loading="lazy" width="583" height="583" src="{{ block.settings.image | image_url: width: 960 }}" alt="" />
              {% if block.settings.text != '' %}
                {{ block.settings.text }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      {% if slider_alignment == 'left' %}
        <div class="grid-flex__text large--one-half">
            {% if slider_product != '' %}
                {% render 'product-grid-item', product: section.settings.product, product_layout: 'before-after' %}
            {% endif %}
            {% if disclaimer != '' %}
              <div class="wayfx-disclaimer">
                <small>{{ disclaimer }}</small>
              </div>
            {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="wayfx-mobile__actions">
      <a href="{{ product.url | within: collection }}" class="btn btn--xlarge">Shop Now</a>
      {% if disclaimer != '' %}
        <div class="wayfx-disclaimer">
          <small>{{ disclaimer }}</small>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{%- if section.blocks.size > 1 -%}
  <script>
  $(document).ready(function() {
        $('.wayfx-block--before-after-slider-{{ block.id }} .wayfx-block__slider').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: {{ section.settings.show_arrows }},
              draggable: false,
              infinite: {{ section.settings.infinite_slider }},
              dots: true
        }).show();
  });
  </script>
{% endif %}

{% schema %}
{
  "name": "Slider with Product",
  "tag": "section",
  "class": "slider-with-product",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "slider_alignment",
      "label": "Slider Alignment",
      "options": [
          { "value": "left", "label": "Left"},
          { "value": "right", "label": "Right"}
      ]
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show Slider Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite_slider",
      "label": "Infinite Slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Settings"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "disclaimer",
      "label": "Disclaimer Text"
    }
  ],
  "max_blocks": 3,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Slide Image"
         },
         {
          "type": "richtext",
          "id": "text",
          "label": "Slide Text"
         }
       ]
     }
  ],
  "templates": ["index", "article", "page", "product"],
  "presets": [
    {
      "name": "Slider with Product"
    }
  ]
}
{% endschema %}
