{% assign speed = 6 | minus: section.settings.speed %}
{% assign speed_modifier = section.settings.text_size | times: 5 %}

{%- assign chars_req = 300 -%}
{%- assign scroll_str = section.settings.scroll_text | append: ' ' | append: section.settings.delimiter | append: ' ' -%}
{%- assign char_count = scroll_str | size -%}

{%- assign repeat_n_times = chars_req | divided_by: char_count -%}
{%- assign repeat_remainder = chars_req | modulo: char_count -%}

{%- if repeat_remainder > 0 -%}
  {%- assign repeat_n_times = repeat_n_times | plus: 1 -%}
{%- endif -%}

{% for i in (1..repeat_n_times) %}
  {%- assign scroll_text = scroll_text | append: scroll_str -%}
{% endfor %}

<div class="inf-ticker--{{ section.id }}">
  <div class="inf-ticker__wrapper--{{ section.id }}">
    <div class="inf-ticker__text">
      {% for i in (1..2) %}
        <p>{{ scroll_text }}&nbsp;</p>
      {% endfor %}
    </div>
  </div>
</div>

<style type="text/css">

  .inf-ticker--{{ section.id }} {
    display: flex;
    position: relative;
    width:100vw;
    margin: auto;
    background: {{ section.settings.background_color }};
    overflow: hidden;
    z-index: 1;
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .inf-ticker--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .inf-ticker__wrapper--{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
  }

  .inf-ticker__wrapper--{{ section.id }} > .inf-ticker__text {
    display: flex;
    animation: tickerText {{ speed | times: 5 | plus: 5 | plus: speed_modifier }}s infinite linear;
  }

  @media screen and (min-width: 750px) {
    .inf-ticker__wrapper--{{ section.id }} > .inf-ticker__text {
      animation: tickerText {{ speed | times: 5 | plus: speed_modifier }}s infinite linear;
    }
  }

  .inf-ticker__wrapper--{{ section.id }} p {
    margin: 0;
    font-size: {{ section.settings.text_size | times: 16 }}px;
    color: {{ section.settings.text_color }};
    text-transform: {{ section.settings.text_type }};
  }
</style>


{% schema %}
{
  "name": "Animated Text",
  "settings": [
    {
      "type": "header",
      "content": "Animation Settings"
    },
    {
      "type": "text",
      "id": "scroll_text",
      "label": "Text to scroll",
      "default":"Lorem ipsum dolor"
    },
    {
      "type": "text",
      "id": "delimiter",
      "label": "Delimiter",
      "default":"-"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Text Speed",
      "default": 3
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 1,
      "max":4,
      "step": 0.5,
      "label": "Font size",
      "default": 2
    },
    {
      "type": "select",
      "id": "text_type",
      "label": "Text Type",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        }
      ],
      "default": "uppercase"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "linear-gradient(#ffffff, #ffffff)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Animated Text"
    }
  ]
}

{% endschema %}