{% if section.blocks %}
  {{ "stylesheets.sections.usp-icon-carousel.css" | asset_url | stylesheet_tag }}

  <div class="js-usp-icon-carousel--{{ section.id }} block-c keen-slider flex block-grid--index"
       style="opacity:0;"
       data-keen-slider-disabled>
    {% for block in section.blocks %}
      {% if block.settings.image and block.settings.title != blank %}
        <div class="keen-slider__slide usp-icon-carousel__slide flex row-wrap align-center justify-center">
          <style type="text/css">
            .usp-icon-carousel__image--{{ block.id }}{
              width:{{ block.settings.icon_width }}px;
            }
          </style>
          <img  alt="{% if block.settings.image.alt != blank %}{{ block.settings.image.alt }}{% else %}{{ block.settings.title | strip_html }}{% endif %}"
            loading="lazy" 
            class="usp-icon-carousel__image usp-icon-carousel__image--{{ block.id }}"
            src="{{ block.settings.image | image_url:width:128 }}" 
            width="64" 
            height="64">
          <div class="usp-icon-carousel__content">
            <span class="d-block heading">{{ block.settings.title | newline_to_br }}</span>
            {{ block.settings.content }}
          </div>
        </div>
      {% endif %}

    {% endfor %}
  </div>

  <style>
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.mb_margin_top }}px;
      margin-bottom: {{ section.settings.mb_margin_bottom }}px;
      padding-top: {{ section.settings.mb_padding_top }}px;
      padding-bottom: {{ section.settings.mb_padding_bottom }}px;
      background-color: {{ section.settings.section_bg_color }}
    }

    @media screen and (min-width: 768px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ section.settings.dt_margin_top }}px;
        margin-bottom: {{ section.settings.dt_margin_bottom }}px;
        padding-top: {{ section.settings.dt_padding_top }}px;
        padding-bottom: {{ section.settings.dt_padding_bottom }}px;
      }
    }

    {%- comment -%}
      Fix for usp icon slider styles - used on index & pdp (v2).
      See commit msg for more detail.
    {%- endcomment -%}
    .usp-icon-carousel .navigation-wrapper {
      padding: 0;
    }
  </style>
  
  <script type="module"> 

    import { KScenterSlides,KSnavigation,KSautoPlay } from {{ 'scripts.keenSlider.plugins.js' | asset_url | json }};

    let initCarousel = () => {
      let sliderElement = document.querySelector('.js-usp-icon-carousel--{{ section.id }}')

      let slideTotal = `{{ section.blocks.size }}`,
      slidesView465 = 2,
      slidesView767 = 3,
      slidesView1024 = 4,
      slidesView1280 = 5

      if (slideTotal <= slidesView1280){ slidesView1280 = slideTotal }
      if (slideTotal <= slidesView1024){ slidesView1024 = slideTotal }
      if (slideTotal <= slidesView767){ slidesView767 = slideTotal }
      if (slideTotal <= slidesView465){ slidesView465 = slideTotal }

      const enableAutoPlay = '{{ template.name }}' == 'product';
      const ksPlugins = [KScenterSlides, KSnavigation]
      if (enableAutoPlay) ksPlugins.push(KSautoPlay)

      sliderElement.classList.remove('flex')
      sliderElement.removeAttribute('data-keen-slider-disabled')
      sliderElement.style.opacity = 1
      sliderElement = new KeenSlider(sliderElement,{
        loop: true,
        renderMode: "performance",
        slides: { 
          perView:1, 
          spacing:0
        },
        defaultAnimation:{
          duration:1000,
        },
        breakpoints: {
          '(min-width: 465px)': {
            slides: { 
              perView: slidesView465
            }
          },
          '(min-width: 767px)': {
            slides: { 
              perView: slidesView767
            }
          },
          '(min-width: 1024px)': {
            slides: { 
              perView: slidesView1024
            }
          },
          '(min-width: 1280px)': {
            loop: false,
            slides: { 
              perView: slidesView1280
            }
          },
        }
      },
      ksPlugins)
    }

    document.addEventListener('DOMContentLoaded', () => {
      initCarousel()
    })

    {% if request.design_mode %}
      document.addEventListener('shopify:section:load', (data) => {
        initCarousel()
      })
    {% endif %}

  </script>

{% endif %}
  
  {% schema %}
      {
          "name": "USP icon carousel",
          "class": "usp-icon-carousel",
          "presets": [
            {
              "name": "USP icon carousel"
            }
          ],
          "tag": "section",
          "max_blocks":10,
          "settings": [
            {
              "type": "header",
              "content": "Settings"
            },
            {
              "type": "color",
              "id": "section_bg_color",
              "label": "Background Color",
              "default":"#fff"
            },
            {
              "type": "header",
              "content": "Layout: Mobile"
            },
            {
              "type": "range",
              "id": "mb_margin_top",
              "label": "Margin - top",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "mb_margin_bottom",
              "label": "Margin - bottom",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "mb_padding_top",
              "label": "Padding - top",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "mb_padding_bottom",
              "label": "Padding - bottom",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "header",
              "content": "Layout: Desktop"
            },
            {
              "type": "range",
              "id": "dt_margin_top",
              "label": "Margin - top",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "dt_margin_bottom",
              "label": "Margin - bottom",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "dt_padding_top",
              "label": "Padding - top",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
            {
              "type": "range",
              "id": "dt_padding_bottom",
              "label": "Padding - bottom",
              "min": 0,
              "max": 96,
              "step": 8,
              "unit": "px",
              "default": 0,
            },
          ],
          "blocks": [
            {
                "type": "block",
                "name": "block",
                "settings": [
                    {
                      "type": "image_picker",
                      "id": "image",
                      "label": "Icon"
                    },   
                    {
                      "type": "range",
                      "id": "icon_width",
                      "label": "Icon width",
                      "default":32,
                      "step":1,
                      "min":5,
                      "max":64
                    },
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "text"
                    },
                    {
                      "type": "richtext",
                      "id": "content",
                      "label": "content"
                  }
                ]
              }
      ]
      }
  {% endschema %}