<style type="text/css">
#shopify-section-{{ section.id }} {
  {% unless section.settings.video_bg == true %}
  background: {{ section.settings.background }};
  {% endunless %}
}

#shopify-section-{{ section.id }} .content-copy-wrapper {
  margin-top: {{ section.settings.mb_margin_top }}px;
  margin-bottom: {{ section.settings.mb_margin_bottom }}px;
  padding-top: {{ section.settings.mb_padding_top }}px;
  padding-bottom: {{ section.settings.mb_padding_bottom }}px;
}

@media screen and (min-width: 768px) {
  #shopify-section-{{ section.id }} .content-copy-wrapper {
    margin-top: {{ section.settings.dt_margin_top }}px;
    margin-bottom: {{ section.settings.dt_margin_bottom }}px;
    padding-top: {{ section.settings.dt_padding_top }}px;
    padding-bottom: {{ section.settings.dt_padding_bottom }}px;
  }
}
</style>

<div class="content-copy-wrapper">
  {%- if section.settings.video_bg == true -%}
    <video playsinline autoplay muted loop role="presentation">
      <source src="https://ucarecdn.com/d3a2344d-a1cc-418d-bdd7-e74c9d1995c6/Crystal_Background_compressed.webm" type="video/webm">
      <source src="https://ucarecdn.com/00c8d90d-e63b-4028-b247-5fd579dc53c3/Crystal_Background_compressed.mp4" type="video/mp4">
    </video>
  {%- endif -%}

  <div class="wayfx-wrapper content-copy--{{section.id}}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when "heading" -%}
        {%- assign instagram_link = '<a href="https://www.instagram.com/officialmedik8/" target="_blank">@officialmedik8</a>' -%}
        {%- assign heading = block.settings.heading | replace: '@officialmedik8', instagram_link -%}
        <h1 class="cc-heading" style="color: {{ block.settings.heading_color }}">
          {{ heading }}
        </h1>
      {%- when "copy" -%}
        <p class="cc-copy" style="color: {{block.settings.copy_color}}">{{block.settings.copy}}</p>
      {%- when "copy_html" -%}
          <div>{{block.settings.copy_html}}</div>
      {%- when "cta" -%}
        <a href="{{ block.settings.cta_link }}" class="{{block.settings.cta_type}} btn--xlarge">{{ block.settings.cta_text }}</a>
    {%- endcase -%}
  {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Content - Copy",
    "class": "content-copy",
    "settings": [
      {
        "type": "header",
        "content": "Layout: Mobile"
      },
      {
        "type": "range",
        "id": "mb_margin_top",
        "label": "Margin - top",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 0,
      },
      {
        "type": "range",
        "id": "mb_margin_bottom",
        "label": "Margin - bottom",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 0,
      },
      {
        "type": "range",
        "id": "mb_padding_top",
        "label": "Padding - top",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 56,
      },
      {
        "type": "range",
        "id": "mb_padding_bottom",
        "label": "Padding - bottom",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 56,
      },
      {
        "type": "header",
        "content": "Layout: Desktop"
      },
      {
        "type": "range",
        "id": "dt_margin_top",
        "label": "Margin - top",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 0,
      },
      {
        "type": "range",
        "id": "dt_margin_bottom",
        "label": "Margin - bottom",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 0,
      },
      {
        "type": "range",
        "id": "dt_padding_top",
        "label": "Padding - top",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 56,
      },
      {
        "type": "range",
        "id": "dt_padding_bottom",
        "label": "Padding - bottom",
        "min": 0,
        "max": 96,
        "step": 8,
        "unit": "px",
        "default": 56,
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "video_bg",
        "label": "Show Video Background",
        "default": true
      },
      {
        "type": "color_background",
        "id": "background",
        "label": "Background",
        "default": "linear-gradient(#ffffff, #E5E5E5)"
      }
    ],
    "blocks": [
      {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "html",
            "id": "heading",
            "label": "Heading",
            "info": "@officialmedik8 handle is automatically replaced with Medik8 Instagram link"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#000000"
          }
        ]
      },
      {
        "name": "Copy",
        "type": "copy",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "copy",
            "default": "my <i>inline</i> <b>text</b>",
            "label": "Copy"
          },
          {
            "type": "color",
            "id": "copy_color",
            "label": "Copy color",
            "default": "#000000"
          }
        ]
      },
      {
        "name": "Copy - HTML",
        "type": "copy_html",
        "settings": [
          {
            "type": "html",
            "id": "copy_html",
            "label": "Copy - HTML"
          }
        ]
      },
      {
        "name": "CTA Button",
        "type": "cta",
        "settings": [
          {
            "type": "url",
            "id": "cta_link",
            "label": "CTA Link"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text ",
            "default": "Learn More"
          },
          {
            "type": "select",
            "id": "cta_type",
            "label": "CTA Button type",
            "options": [
              {
                "value": "btn",
                "label": "Black Button"
              },
              {
                "value": "btn--white",
                "label": "White Button"
              },
              {
                "value": "btn--outline",
                "label": "Outline Button"
              }
            ],
            "default": "btn"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Content Copy",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "copy"
          },
          {
            "type": "cta"
          }
        ]
      }
    ]
  }
{% endschema %}
