<div class="wayfx-wrapper highlights--{{section.id}}" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
    <div class="wayfx-block__content">
        {% for block in section.blocks %}
            {% case block.type %}
            {% when 'highlights' %}
            {%- assign image = block.settings.image -%}
            {%- assign text = block.settings.text -%}
                <div class="wayfx-block__hero-highlight">
                    <div class="wayfx-image">
                        <img width="40" height="40" loading="lazy" src="{{ image | image_url: width: 80 }}" alt="" />
                    </div>
                    <div class="wayfx-text">
                        <p>{{ text }}</p>
                    </div>
                </div>
            {% endcase %}
        {% endfor %}
    </div>
</div>

<style>
    .highlights--{{section.id}} {
        margin-top: {{section.settings.margin_top}}px;
    }
</style>

{% schema %}
    {
      "name": "Highlights",
      "settings": [
        {
            "type": "range",
            "id": "margin_top",
            "min": -80,
            "max": 80,
            "step": 5,
            "unit": "px",
            "label": "Margin Top",
            "default": 0
          }
      ],
      "presets": [
        {
          "name": "Highlights"
        }
      ],
      "tag": "section",
      "class": "wayfx-block wayfx-block--hero-highlights",
      "max_blocks": 4,
      "blocks": [
        {
            "type": "highlights",
            "name": "Highlight",
            "settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Icon"
                },
                {
                    "id": "text",
                    "type": "text",
                    "label": "Text"
                }
            ]
        }
      ]
    }
{% endschema %}
