{% assign layout = "standard" %}

<div class="wayfx-wrapper">
    <div class="wayfx-block--products__tabs">
        {% unless section.settings.n_product_tabs__collection_one_title == blank %}
            <div class="wayfx-block--products__tab wayfx-block--products__tab--active" data-category="n_product_tabs__collection_one">
                {{ section.settings.n_product_tabs__collection_one_title }}
            </div>
        {% endunless %}
        {% unless section.settings.n_product_tabs__collection_two_title == blank %}
            <div class="wayfx-block--products__tab" data-category="n_product_tabs__collection_two">
                {{ section.settings.n_product_tabs__collection_two_title }}
            </div>
        {% endunless %}
        {% unless section.settings.n_product_tabs__collection_three_title == blank %}
            <div class="wayfx-block--products__tab" data-category="n_product_tabs__collection_three">
                {{ section.settings.n_product_tabs__collection_three_title }}
            </div>
        {% endunless %}
        {% unless section.settings.n_product_tabs__collection_four_title == blank %}
            <div class="wayfx-block--products__tab" data-category="n_product_tabs__collection_four">
                {{ section.settings.n_product_tabs__collection_four_title }}
            </div>
        {% endunless %}
    </div>
    {% unless section.settings.n_product_tabs__collection_one_title == blank %}
        <div class="wayfx-block--products__content" data-category="n_product_tabs__collection_one" style="display: block;">
            <h2 class="h2--primary">{{ section.settings.n_product_tabs__collection_one_title }}</h2>
            <div class="wayfx-products slider--dot-alt">
                {%- assign collection_products = section.settings.n_product_tabs__collection_one -%}
                {%- paginate collections[collection_products].products by 8 -%}
                    {%- for product in collections[collection_products].products -%}
                        {% render 'product-grid-item', product_layout: layout, product: product %}
                    {%- endfor -%}
                {%- endpaginate -%}
            </div>
        </div>
    {% endunless %}
    {% unless section.settings.n_product_tabs__collection_two_title == blank %}
        <div class="wayfx-block--products__content" data-category="n_product_tabs__collection_two">
            <h2 class="h2--primary">{{ section.settings.n_product_tabs__collection_two_title }}</h2>
            <div class="wayfx-products slider--dot-alt">
                {%- assign collection_products = section.settings.n_product_tabs__collection_two -%}
                {%- paginate collections[collection_products].products by 8 -%}
                    {%- for product in collections[collection_products].products -%}
                        {% render 'product-grid-item', product_layout: layout, product: product %}
                    {%- endfor -%}
                {%- endpaginate -%}
            </div>
        </div>
    {% endunless %}
    {% unless section.settings.n_product_tabs__collection_three_title == blank %}
        <div class="wayfx-block--products__content" data-category="n_product_tabs__collection_three">
            <h2 class="h2--primary">{{ section.settings.n_product_tabs__collection_three_title }}</h2>
            <div class="wayfx-products slider--dot-alt">
                {%- assign collection_products = section.settings.n_product_tabs__collection_three -%}
                {%- paginate collections[collection_products].products by 8 -%}
                    {%- for product in collections[collection_products].products -%}
                        {% render 'product-grid-item', product_layout: layout, product: product %}
                    {%- endfor -%}
                {%- endpaginate -%}
            </div>
        </div>
    {% endunless %}
    {% unless section.settings.n_product_tabs__collection_four_title == blank %}
        <div class="wayfx-block--products__content" data-category="n_product_tabs__collection_four">
            <h2 class="h2--primary">{{ section.settings.n_product_tabs__collection_four_title }}</h2>
            <div class="wayfx-products slider--dot-alt">
                {%- assign collection_products = section.settings.n_product_tabs__collection_four -%}
                {%- paginate collections[collection_products].products by 8 -%}
                    {%- for product in collections[collection_products].products -%}
                        {% render 'product-grid-item', product_layout: layout, product: product %}
                    {%- endfor -%}
                {%- endpaginate -%}
            </div>
        </div>
    {% endunless %}
</div>

<style>
.wayfx-block--products {
    padding-top: {{section.settings.top_padding}}px;
}
</style>

{% schema %}
    {
      "name": "Product Category Tabs",
      "presets": [
        {
          "name": "Product Category Tabs"
        }
      ],
      "tag": "section",
      "class": "wayfx-block wayfx-block--products",
        "settings": [{
            "type": "range",
            "id": "top_padding",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "px",
            "label": "Top Padding",
            "default": 20
        },
        {
            "type": "header",
            "content": "Collection one"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "n_product_tabs__collection_one_title",
            "default": "Best Sellers"
        },
        {
            "id": "n_product_tabs__collection_one",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "header",
            "content": "Collection two"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "n_product_tabs__collection_two_title",
            "default": "Vitamin C"
        },
        {
            "id": "n_product_tabs__collection_two",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "header",
            "content": "Collection three"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "n_product_tabs__collection_three_title",
            "default": "Sunscreen"
        },
        {
            "id": "n_product_tabs__collection_three",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "header",
            "content": "Collection four"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "n_product_tabs__collection_four_title",
            "default": "Vitamin A"
        },
        {
            "id": "n_product_tabs__collection_four",
            "type": "collection",
            "label": "Collection"
        }
      ]
    }
{% endschema %}

<script defer>

    $(document).ready(function() {
        $(".wayfx-block--products__tab").on( "click", function() {
            var category = $(this).data('category');
            $('.wayfx-block--products__content').hide();
            $('.wayfx-block--products__tab').removeClass('wayfx-block--products__tab--active');
            $(this).addClass('wayfx-block--products__tab--active');
            $('.wayfx-block--products__content[data-category="' + category + '"]').fadeIn(100);
        });

        var settings = {
            arrows: false,
            draggable: true,
            infinite: true,
            dots: true,
            adaptiveHeight: false,
            mobileFirst: true,
            slidesToShow: 2,
            slidesToScroll: 2,
            responsive: [{
                breakpoint: 768,
                settings: {
                    settings: "unslick"
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 3
                }
            }]
        }

        var $slides = $('.wayfx-block--products__content .wayfx-products');

        $(window).on('load resize orientationchange', function () {
            if ($(window).width() > 1023) {
                if ($slides.hasClass('slick-initialized')) {
                    $slides.slick('unslick');
                }
                $slides.show();
                return
            }
            if (!$slides.hasClass('slick-initialized')) {
                return $slides.each(function() {
                    $(this).slick(settings).show();
                });
            }
        });

    });

</script>
