<!-- sections/n-product-bundle-hero.liquid -->

{%- assign product_description = product.metafields.sf_product_hero.description -%}
{%- assign product_subtitle = product.metafields.sf_product_hero.sub_heading -%}
{%- assign highlight_title_1 = product.metafields.sf_product_hero.highlight_1_heading -%}
{%- assign highlight_text_1 = product.metafields.sf_product_hero.highlight_1_description -%}
{%- assign highlight_title_2 = product.metafields.sf_product_hero.highlight_2_heading -%}
{%- assign highlight_text_2 = product.metafields.sf_product_hero.highlight_2_description -%}
{%- assign highlight_title_3 = product.metafields.sf_product_hero.highlight_3_heading -%}
{%- assign highlight_text_3 = product.metafields.sf_product_hero.highlight_3_description -%}

{%- assign site_wide_enabled = settings.site_wide__enabled -%}
{%- assign site_wide_percentage = settings.site_wide__percentage | divided_by: 100.0 -%}
{%- assign site_wide_label = settings.site_wide__label -%}
{%- assign site_wide_label_enabled = settings.site_wide__label_enabled -%}
{%- if settings.discounts__vip_code == blank -%}
  {%- assign site_wide_crossed_out_pricing_enabled = settings.site_wide__crossed_out_pricing_enabled -%}
{%- endif -%}
{%- assign site_wide_collection = settings.site_wide__collection -%}

{%- if site_wide_enabled -%}
  {% for collection in product.collections %}
    {% if collection.handle == site_wide_collection %}
      {% assign site_wide_product = true %}
      {%- assign on_sale = true -%}
    {% endif %}
  {% endfor %}
{% endif %}

{{ "n-product-bundles.css" | asset_url | stylesheet_tag }}

{{ "n-product-key-ingredients.css" | asset_url | stylesheet_tag }}

{%- assign full_ingredient_disclaimer = 'products.hero.ingredients_disclaimer' | t -%}

{%- if template == 'product.alternate' -%}
    {%- assign full_ingredient_list = product.metafields.sf_product_layout_b.full_ingredients -%}
{%- else -%}
    {%- assign full_ingredient_list = product.metafields.sf_product_layout_a.full_ingredients -%}
{%- endif -%}

{%- comment -%}
  Check availability - Only show if both below are true
  - Bundle Product Object is available
  - All bundle line items are available
{%- endcomment -%}
{% liquid 
  assign bundleIsAvailable = true
  unless product.available
    assign bundleIsAvailable = false
  endunless
  for b in product.metafields.custom.bundle_items.value
    unless b.variant.value.available
      assign bundleIsAvailable = false
      break
    endunless
  endfor
%}

{%- comment -%} *** OUT OF STOCK ***{%- endcomment -%}
{%- capture out-of-stock -%}
  <div id="AddToCartDisabled">
    {% if product.tags contains 'Coming Soon' %}
    <span class="mdk8--coming-soon">{{ 'products.product.coming_soon' | t }}</span>
    {%- else -%}
      {% if section.settings.oos__show %}
        {% render 'block-oos-notify' section:section %}
      {% else %}
        <span class="mdk8--sold-out">{{ 'products.product.sold_out' | t }}</span>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endcapture -%}

<div class="wayfx-wrapper">
  <div class="wayfx-product__photos-wrapper">
    <div class="wayfx-product__photos-block">
        <div class="wayfx-product__featured-photo" id="ProductPhoto">
          {% for media in product.media %}
            <div class="wayfx-product__thumbnail">
              {% case media.media_type %}
                {% when 'image' %}
                  <div class="product-single__media" data-media-id="{{ media.id }}">
                    {{ media | image_url: width: 2048, height: 2048 | image_tag }}
                  </div>
                {% when 'external_video' %}
                  <div class="product-single__media" data-media-id="{{ media.id }}">
                    {{ media | video_tag: loop: true, autoplay: false, controls: true, image_size: "1024x" }}
                  </div>
                {% when 'video' %}
                  <div class="product-single__media" data-media-id="{{ media.id }}">
                    {{ media | video_tag: loop: true, autoplay: false, controls: true, image_size: "1024x" }}
                  </div>
                {% when 'model' %}
                  <div class="product-single__media">
                    {{ media | model_viewer_tag }}
                  </div>
              {% endcase %}
            </div>
          {% endfor %}
        </div>
        {% if product.images.size > 1 %}
        <div class="wayfx-product__thumbnails">
         {% for media in product.media %}
          {% case media.media_type %}
            {% when 'image' %}
              <div class="wayfx-product__thumbnail" data-media-id="{{ media.id }}">
                {{ media | image_url: width: 70, height: 70 | image_tag }}
              </div>
            {% when 'external_video' %}
              <div class="wayfx-product__thumbnail" data-media-id="{{ media.id }}">
                {% render "icon-play" %}
              </div>
            {% when 'video' %}
              <div class="wayfx-product__thumbnail" data-media-id="{{ media.id }}">
                {% render "icon-play" %}
              </div>
            {% when 'model' %}
              <div class="wayfx-product__thumbnail">
                {{ media | model_viewer_tag }}
              </div>
          {% endcase %}
        {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>

  <div class="wayfx-product__details">

    <div>
      <h1 class="bundle__title">{{ product.title }}</h1>

      {%- if product_subtitle -%}
          <h2 class="bundle__subtitle">{{ product_subtitle }}</h2>
      {%- endif -%}

      {%- comment -%} *** REVIEWS & WISHLIST ***{%- endcomment -%}
      <div class="wayfx-product__actions">
        {%- if settings.yotpo_stars_instance_id != blank -%}
          <div class="yotpo-widget-instance" data-yotpo-instance-id="{{ settings.yotpo_stars_instance_id }}" data-yotpo-product-id="{{product.id}}" data-yotpo-cart-product-id="" data-yotpo-section-id="{{template.name}}"></div>
        {%- endif -%}
        <div class="wayfx-product__wishlist">
          {% render 'product-wishlist' with product %}
        </div>
      </div>


      <div class="variant-atc-order">
        {%- if bundleIsAvailable -%}
          {%- comment -%} *** Build price *** {%- endcomment -%}
          {%- capture atc-price -%}
            {{ 'products.product.add_to_cart' | t }} - 
            {% if product.compare_at_price %}
              <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
            {% endif %}
            {{product.price | money_without_trailing_zeros }}
          {%- endcapture -%}

          <div id="AddToCartForm" class="atc-wrapper">
            <button 
              id="AddToCart" 
              class="js-bundle-atc btn btn--full btn--large">
              <span id="AddToCartText">
                {{ atc-price }}
              </span>
            </button>
          </div>
        {%- else -%}
          {{ out-of-stock }}
        {%- endif -%}
        
        <ul class="variant-wrapper">
          {%- for b in product.metafields.custom.bundle_items.value -%}
            {%- render 'MOS2-bundle-variant', bundle_item: b.variant.value, bundle_discount: b.discount.value -%}
          {%- endfor -%}
        </ul>
      </div>

      {%- comment -%} *** PRODUCT DESCRIPTION ***{%- endcomment -%}
      {%- if product_description -%}
          <p class="wayfx-product__description">{{ product_description }}</p>
      {%- endif -%}

      {%- comment -%} *** PRODUCT HIGHLIGHTS ***{%- endcomment -%}
      <dl class="wayfx-product__highlights">
          {%- if highlight_title_1 -%}
            <dt>{{ highlight_title_1 }}</dt>
            <dd>{{ highlight_text_1 }}</dd>
          {%- endif -%}
          {%- if highlight_title_2 -%}
              <dt>{{ highlight_title_2 }}</dt>
              <dd>{{ highlight_text_2 }}</dd>
          {%- endif -%}
          {%- if highlight_title_3 -%}
              <dt>{{ highlight_title_3 }}</dt>
              <dd>{{ highlight_text_3 }}</dd>
          {%- endif -%}
      </dl>
  </div>
  </div>
</div>

<style>
  .wayfx-product__thumbnail svg {
    padding: 10px;
  }
  .product-single__media video {
    width:100%;
  }
</style>

<script type="text/javascript">

  DomReadyPromise().then( () => {
    const formData = {
      items: [
        {% for b in product.metafields.custom.bundle_items.value reversed %}
          {
            id:{{ b.variant.value.id }},
            quantity: 1,  
            properties: {
              _bundle_id: 'bundle_{{ product.id }}',
              _bundle: '{{ product.title }}',  
              _bundle_discount: {{ b.discount | divided_by: 100.00 | minus: 1 | abs }},
              _bundle_prod_count: {{ product.metafields.custom.bundle_items | split: ',' | size }}
            }
          },
        {% endfor %}
      ]
    }

    document.querySelector('.js-bundle-atc').addEventListener('click',(e) => {
      e.preventDefault()
      GlobalCartMain.addProductFromButton(e,formData)
    })

  }).catch(err => {
    console.log(err)
  })
  
  
  $(document).ready(function() {
    $('.wayfx-product__featured-photo').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      draggable: false,
      fade: true,
      asNavFor: '.wayfx-product__thumbnails'
    }).addClass('loaded');

    $('.wayfx-product__thumbnails').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.wayfx-product__featured-photo',
      dots: false,
      arrows: false,
      focusOnSelect: true,
      variableWidth: true
    }).show();

    $(".wayfx-product__thumbnail").on( "click", function() {
        $('.product-single__media video').get(0).pause()
    });

    $(".wayfx-product__accordion-title").on( "click", function() {
      $(this).parent().toggleClass('wayfx-product__accordion-item--open');
      $(this).next('.wayfx-product__accordion-content').slideToggle(100);
    });
  });
</script>


{% schema %}
    {
        "name": "Hero - Bundle",
        "presets": [
          {
            "name": "Hero - Bundle"
          }
        ],
        "templates": ["product"],
        "tag": "section",
        "class": "wayfx-product__section wayfx-product__hero",
        "settings": [
          {
            "type": "text",
            "id": "shipping_popup",
            "label": "Shipping/Delivery information"
          },
          {
            "type": "textarea",
            "id": "popup_text",
            "label": "Easy Returns Popup Text"
          },
          {
            "type": "header",
            "content": "OOS notification"
          },
          {
            "type": "checkbox",
            "id": "oos__show",
            "label": "Show email capture",
            "info": "Show the OOS email capture form. This will add the user to the stock notification flow on Klaviyo. Klaviyo API key can be found in theme settings/modules",
            "default":true
          },

          {
            "type": "text",
            "id": "oos__heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "oos__content",
            "label": "Tagline / below heading text"
          },
          {
            "type": "text",
            "id": "oos__button_text",
            "label": "Button text"
          },
          {
            "type": "richtext",
            "id": "oos__below_button__default",
            "label": "Below button (default)"
          },
          {
            "type": "richtext",
            "id": "oos__below_button__success",
            "label": "Below button (user added)"
          },
          {
            "type": "richtext",
            "id": "oos__below_button__error",
            "label": "Below button (error)"
          },
          {
            "type": "header",
            "content": "Loyalty Lion"
          },
          {
            "type": "richtext",
            "id": "loyalty_lion__hint_text",
            "label": "Hint text",
            "default":"<p>Earn 1 point for every £1 spent with our rewards programme, Me&amp;Medik8. Simply create an account to join. Collect points every time you shop and redeem them for rewards, including money off future purchases.<br><br>You can also enjoy lots of exclusive benefits from secret promotions, free shipping and a gift on your birthday.</p>"
          }
        ]
    }
{% endschema %}
