<div class="wayfx-product wayfx-product--version2" itemscope itemtype="http://schema.org/Product">

  {% render 'product-structured-data' %}

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {% section 'n-product-hero' %}
  {% render 'product-bar' %}
  {%- if product.metafields.sf_product_layout_a.feature_1_heading -%}
    {% section 'n-product-feature-columns' %}
  {%- endif -%}
  {%- if product.metafields.sf_product_layout_a.step_1_title -%}
  	{% section 'n-product-how-to-use' %}
  {%- endif -%}
  {%- if product.metafields.sf_product_layout_a.ingredient_1_title -%}
  	{% section 'n-product-key-ingredients' %}
  {%- endif -%}
  {%- if product.metafields.sf_product_layout_a.expert_quote_1_text -%}
  	{% section 'n-product-experts' %}
  {%- endif -%}
  {% section 'n-product-related' %}
  {%- if product.metafields.sf_product_layout_a.cta_block_heading -%}
  	{% section 'n-product-cta' %}
  {%- endif -%}
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|image_url }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script><div class="yotpo-widget-instance" data-yotpo-instance-id="246156" data-yotpo-product-id="{{ product.id }}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}" data-yotpo-description="{{ product.description | escape }}"></div>